section#about.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
  .image.image1(style="flex-grow: 1")
  .text
    h2 About
    p
      b The Canada Geeks
      | &nbsp;are all about getting some Magic on, specifically playing Commander (EDH)
      br
      br
      b Schedule:
      br
    ul
      li Thursdays @ 7pm ET
      li Sundays @ 8pm ET

    br
    p
      | Need help figuring out when that is for you?
      | Check&nbsp;
      a(href="https://www.worldtimebuddy.com/?qm=1&lid=6167865&h=6167865&date=2020-7-2&sln=19-20")
        | here
      
    br
    
    h4(class="text-center") Commander (Elder Dragon Highlander)
    p
      blockquote(class="blockquote text-center")
        p(class="mb-0")
          | Commander, as officially titled by Wizards of the Coast (also known as Elder Dragon Highlander or EDH), is a casual multiplayer format for Magic: the Gathering. It is a Highlander-variant format with specific rules centered around a legendary creature called the commander.
        footer(class="blockquote-footer")
          a(href="https://mtg.gamepedia.com/Commander_(format)")
            | MTG Wiki
