section.discord-widget
  iframe.d-flex.image(
    src="https://discordapp.com/widget?id=717659765919973386&theme=dark",
    allowtransparency="true",
    frameborder="0"
    )
  .text
    h2 Hang Out
    p
      b Discord - 
      | &nbsp;come hang out with The Canada Geeks on Discord and see all the shenanigans we get up to in our free time.