section.join.d-flex.justify-content-center
  .line.align-self-center(style='flex-grow: 1')
  a.links-suppressor.btn-pill.white(href='https://discord.gg/AuajBm2' target='_blank')
    | Join
  .line.align-self-center(style='flex-grow: 1')