section#rules.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
  .image.image2(style='flex-grow: 1')
  .text
    h2 Rules
    ul
      li Be cool
      li Use&nbsp;
        +channel('general', '717659765919973386', '717659765919973389')
        | &nbsp;to chat with friends
      li Find a pod to play in&nbsp;
        +channel('find-a-pod', '717659765919973386', '724307372302139463')
        | &nbsp;or make a ready-to-go channel to play in&nbsp;
        +channel('Make-a-Pod', '717659765919973386', '724307509841625088')
      