.footer.d-flex.justify-content-between.flex-wrap
  .block.d-flex.flex-column.justify-content-between.order-1
    h3 Personalities
    +user('Brennan_Discord', '3384', '76685590585671680')
  .block.d-flex.flex-column.justify-content-between.order-2
    h3 Moderators
    +user('Tobiah', '0001', '76685590585671680')
    
  p.align-self-end.order-3 The Canada Geeks are... always down to have fun.