.header.d-flex.flex-column.justify-content-between.align-items-center(class=`${page === 'index' ? 'index' : ''}`)
  nav.topmenu.d-flex.justify-content-center
    a(href=`${page === 'index' ? '#about' : '/index.pug'}` class=`${page === 'index' ? 'active' : ''}`) About
    .line.align-self-center
    div.dropdown
      a.dropdown-toggle(role='button' id='socials-drop' href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        | Socials
      div.dropdown-menu(aria-labelledby='socials-drop')
        a.dropdown-item(href='https://instagram.com/thecanadageeks' target='_blank') Instagram
        a.dropdown-item(href='https://twitch.tv/thecanadageeks' target='_blank') Twitch
        a.dropdown-item(href='https://discord.gg/AuajBm2' target='_blank') Discord
        a.dropdown-item(href='https://www.patreon.com/Thecanadageeks' target='_blank') Patreon
        a.dropdown-item(href='https://www.youtube.com/channel/UC-mPaBX05QnifMukKPy1t_Q' target='_blank') YouTube
    .line.align-self-center
    div.dropdown
      a.dropdown-toggle(role='button' id='events-drop' href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        | Events
      div.dropdown-menu(aria-labelledby='events-drop')
        a.dropdown-item(href='/events/megabowl.pug') MegaBowl
    
  if page === 'index'
    .server-info.d-flex.align-items-center.flex-column.text-center
      h1 The Canada Geeks
      div.d-flex.flex-row.social-links
        a.links-suppressor.btn-social.white(href='https://instagram.com/thecanadageeks')
          i(class='fab fa-instagram fa-5x')
        a.links-suppressor.btn-social.white(href='https://twitch.tv/thecanadageeks')
          i(class='fab fa-twitch fa-5x')
        a.links-suppressor.btn-social.white(href='https://discord.gg/AuajBm2')
          i(class='fab fa-discord fa-5x')
        a.links-suppressor.btn-social.white(href='https://www.patreon.com/Thecanadageeks')
          i(class='fab fa-patreon fa-5x')